#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
}

#dishes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.block1 {
    display: flex;
}

.block2 {
    display: flex;
}

.dish {
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

